h1, p {
    font-family: "Yuji Syuku", serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
}

h1 {
    font-size: 40px;
}
p {
    font-size: 25px;
}

body {
    background-color:rgb(230, 241, 239);
    background-image: url('img/mountain-sea.jpg'); ;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh
}

#gameboard {
    width: 300px;
    height: 300px; 
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
}

.square {
  width:  100px;
  height: 100px;
  background-color: white;  
  border: solid 2px black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.山 {
   height: 90px;
    width: 90px;
    background-image: url("./img/yama.png");
    background-repeat: no-repeat;
    background-size: auto;
}

.海 {
    height: 90px;
    width: 90px;
    position: relative;
    background-image: url("./img/umi.png");
}

.square .山,
.square .海 {
    cursor: not-allowed;
}

/*
.gameboard.海 .square:hover {
    
}

.square.海::before,
.square.海::after,
.gameboard.海 .square:hover::before,
.gameboard.海 .square:hover::after {
    height: 90px;
    width: 90px;
    position: relative;
    background-image: url("./img/umi.png");
}
*/

